# Archivos de Android Studio
.idea/
*.iml
*.ipr
*.iws

# Carpetas de compilación
/build/
*/build/

# Archivos generados por Gradle
.gradle/
local.properties

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log y temporales
*.log
*.tmp

# Archivos de configuración personal
*.swp
*.swo

# Archivos de cache
.cxx/
.externalNativeBuild/
